
h1, h3 {
  text-align: center;
}

h1 {
  color: white;
  font-weight: bold;
}

h3 {
  background-color: rgb(238,125,121);
  color: white;
  font-weight: bold;
  width: 100%;
    padding: 1em;
    margin: 0;
}
.flex-vertical {
  flex-direction: column;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
    z-index:1000;
}

a.dc-button {
  font-size: 14px;
}


.grid-container {
  background-color: black;
  overflow-x: hidden;
  min-height: 100vh;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas:
    "banner banner banner banner banner banner banner"
    "upcoming filmmakers musicians photo artists poets add"
    "upcoming filmmakers musicians photo artists poets add"
    "upcoming filmmakers musicians photo artists poets add";
}

.banner {
  grid-area: banner;
  min-height:10em;
}

#upcoming{
    grid-area: upcoming;
}


#filmmakers{
    grid-area: filmmakers;
}

#musicians{
    grid-area: musicians;
}


#photographers {
    grid-area: photo;
}

#artists{
    grid-area: artists;
}

#poets{
    grid-area: poets;
}

#add-student{
    grid-area: add;
    background-color: rgb(255,204,102);
}


 .list {
  width: 90%;
  margin: auto;
  margin:0;
  padding: 0;

}

.list li {
  padding: 1em;
  border: 1px solid black;;
  font-weight: bold;
text-align: center;
  margin: 1em auto;
  list-style: none;
}

.add-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.add-form  p {
  margin: 0;
  padding: 0.5em;
}

input[type="radio"], .radio {
  display: inline;
  margin:0.5em;
}

input {
  margin: 1em;
  height: 2em;
}

.artist {
  cursor: pointer;
  background-color: white;
}

.artist-info {
  display: flex;
    flex-direction: column;
}

.popup-container{
  grid-column: 7 / span 1;
  grid-row: 2 / span 4;
  z-index: 100;
  display: flex;
  background-color: rgb(95,91,163);
  transform: translateX(1000px);
  transition: transform 2s;
}

.popup {
  padding: 1em;
  display: flex;
  flex-direction: column;
  background-color: rgb(95,91,163);
}

.active {
  transform: translateX(0);
}

#update, #delete{
background-color: rgb(238,125,121);
}

a.dc-button {
  background-color: rgb(95,91,163);
  color: white;
}
#add-student h3 {
  background-color: rgb(255,204,102);
}

#hidePopup{
  font-size: 1.7em;
  cursor: pointer;
  width: 2em;
  padding: 0.2em;
  color: white;
}

#edit-description {
  margin: 1em;
}

#edit-artist-type {
  margin: 0 1em;
}
