
.flex-vertical {
  flex-direction: column;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
    z-index:1000;
}


.grid-container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas:
    "banner banner banner banner banner banner banner"
    "upcoming filmmakers musicians photo artists poets add"
    "upcoming filmmakers musicians photo artists poets add"
    "upcoming filmmakers musicians photo artists poets add";
}

.banner {
  grid-area: banner;
  min-height:10em;
}

#upcoming{
    grid-area: upcoming;
    background-color: navyBlue;
}


#filmmakers{
    grid-area: filmmakers;
    background-color: green;
}

#musicians{
    grid-area: musicians;
    background-color: red;
}


#photographers {
    grid-area: photo;
    background-color: blue;
}

#artists{
    grid-area: artists;
    background-color: yellow;
}

#poets{
    grid-area: poets;
}

#add-student{
    grid-area: add;
    background-color: pink;
}


 ul {
  width: 70%;
  margin: auto;
  margin:0;
  padding: 0;

}

ul li {
  padding: 0.5em;
  border: 1px solid white;;
  font-weight: bold;
text-align: center;
  margin: 1em auto;
  list-style: none;
  color: white;
}

.add-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.add-form  p {
  margin: 0;
  padding: 0.5em;
}

input[type="radio"], .radio {
  display: inline;
  margin:0.5em;
}

input {
  margin: 1em;
  height: 2em;
}
